@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&family=Rubik+Marker+Hatch&family=Saira+Stencil+One&family=Sixtyfour&display=swap');
*{
    margin: 0;
    padding: 0;
}
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -100;
}

nav {
    position: relative;
    z-index: 1;
    /* Add your nav styles here */
}

.content {
    /* Add your content styles here */
    position: relative;
    z-index: 2;
}
@keyframes glow {
    0% {
        box-shadow: 0 0 10px 5px rgba(49, 119, 248, 0.74);
    }
    50% {
        box-shadow: 0 0 20px 10px rgba(49, 119, 248, 0.74);
        /* rgba(0, 238, 255, 0.705) */
    }
    100% {
        box-shadow: 0 0 10px 5px rgba(49, 119, 248, 0.74);
    }
}

.container .box {
    animation: glow 2s infinite alternate;
    color:  #0020d8cc;
}


nav{
    background-color: rgb(75, 50, 75);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}
.navhd{
    font-family: "Rubik Glitch Pop", system-ui;
    color: bisque;
    margin-left: 2vw;
    font-size: 2.5vw;
    @media only screen and (max-width: 1024px) {
        font-size: 5vw; /* Adjust font size for mobile devices */
    }
}
nav ul{
    list-style-type: none;
}

.mainhd{
    text-align: center;
    font-size: 6vw;
    font-family: "Rubik Marker Hatch", system-ui;
    color: aqua;
}

.gameContainer{ 
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: "Saira Stencil One", sans-serif;
    position: relative;
}
.logocontainer{
    display:flex;
    background-image: cover;
    height: 100%;
}
.set{
    color:papayawhip;
    font-family: "Sixtyfour", sans-serif;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.box:hover{
    background-color: rgb(242, 234, 250);
}

.Tturn {
    font-size: 3vw;
    font-family: "Saira Stencil One", sans-serif;
    color: #267599f8;
    /*#f5a84bc9*/
    @media screen and (max-width:915px) {
        font-size: 6vw;
    }
}

.gameInfo{
    padding: 0 34px;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
    width: 0px;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.button {
    display: flex;
    position: relative;
    background: none;
    border: 0;
    transform-style: preserve-3d;
    transform: rotateX(45deg)rotateZ(45deg);
    cursor: pointer;
  }
  
  .button > .red {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    background-color: rgb(255, 49, 49);
    transform: translate(-50%,-50%);
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .red::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1em;
    left: 0;
    background-color: rgb(255, 49, 49);
    transform: rotateZ(-45deg) translateY(-.5em);
    transition: height 150ms, transform 150ms;
  }
  
  .red::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgb(255, 49, 49);
    transform: rotateZ(-45deg) translateY(-1em);
    transition: transform 150ms;
    border: 1px solid rgb(255, 196, 196);
  }
  
  .button > .base {
    position: relative;
    width: 3em;
    height: 3em;
    background-color: rgb(245, 216, 90);
    transform-style: preserve-3d;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
  }
  
  .base::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(245, 216, 90);
    transform-origin: bottom;
    transform: rotateX(90deg);
    border-right: 1px solid #fff;
  }
  
  .base::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(245, 216, 90);
    transform-origin: right;
    transform: rotateY(-90deg);
    border-left: 1px solid #fff;
  }
 /*------ Settings ------*/
.containerer {
    --color: #a5a5b0;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: right;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
  }
  
  .containerer .mute {
    position: absolute;
    animation: keyframes-fill .5s;
  }
  
  .containerer .voice {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
  }
  
  /* ------ On check event ------ */
  .containerer input:checked ~ .mute {
    display: none;
  }
  
  .containerer input:checked ~ .voice {
    display: block;
  }
  
  /* ------ Hide the default checkbox ------ */
  .containerer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* ------ Animation ------ */
  @keyframes keyframes-fill {
    0% {
      transform: rotate(0deg) scale(0);
      opacity: 0;
    }
  
    50% {
      transform: rotate(-10deg) scale(1.2);
    }
  }
/* Add CSS for mute button */
.mute-btn {
    cursor: pointer;
    margin-left: auto; /* Move the mute button to the right */
    align-items: center; /* Align the items vertically */
}

/* Hide the hidden icon initially */
.hidden {
    display: none;
}



  .button:active>.red::before {
    transform: rotateZ(-45deg) translateY(0);
    height: 0;
  }
  
  .button:active>.red::after {
    transform: rotateZ(-45deg) translateY(0);
  }
  
  
.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}
/* Add this CSS to highlight winning boxes */
.winning-box {
    background-image: url('https://i.ibb.co/k13Dqkd/scar2.jpg'); 
    background-size: cover; /* Ensures the image covers the entire box */
   
}

.backin{
    background-color: white;
}

.box:hover {
    background-color: rgb(95, 95, 95);
}
.box:hover {
    animation: colorChange 0.5s infinite alternate;
}

@keyframes colorChange {
    0% { background-color: rgb(242, 234, 250); }
    25% { background-color: rgb(255, 138, 138); }
    50% { background-color: rgb(171, 238, 171); }
    75% { background-color: rgb(159, 159, 250); }
    100% { background-color: rgb(242, 234, 250); }
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}
